name: SSH Login Test

on:
  workflow_dispatch:   # manual trigger (best for debugging)

jobs:
  ssh-test:
    runs-on: ubuntu-latest

    steps:
      - name: Test SSH login only
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          debug: true
          script: |
            script: |
              if [ -z "$INPUT_KEY" ]; then
                echo "❌ SSH KEY is EMPTY"
              else
                echo "✅ SSH KEY is PRESENT"
                echo "Key length: ${#INPUT_KEY}"
              fi
            
              if [ -z "$INPUT_USERNAME" ]; then
                echo "❌ USERNAME is EMPTY"
              else
                echo "✅ USERNAME is PRESENT"
              fi
            
              if [ -z "$INPUT_HOST" ]; then
                echo "❌ HOST is EMPTY"
              else
              echo "✅ HOST is PRESENT"
              fi
